<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cord.ignite.data.mapper.IgniteMapper">

    <resultMap type="org.cord.ignite.data.domain.Student" id="StudentResult">
        <result property="studId" column="studid"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="dob" column="dob"/>
    </resultMap>

    <select id="findStudentsById" parameterType="java.lang.String" resultMap="StudentResult">
        SELECT * FROM student WHERE studid = #{studentId}
    </select>

    <select id="findGradeByName" parameterType="java.lang.String" resultType="java.lang.Double">
        SELECT g.grade FROM student s,grade g WHERE s.STUDID=g.STUDID and s.name= #{name}
    </select>

</mapper>